body {
  background: #ddd;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem
  }
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.col-2,
.col {
  padding: 0 1vh
}

img {
  width: 3.5rem
}

hr {
  margin-top: 1.25rem
}
.products {
  width: 100%;
}
.products .price, .products .action {
  line-height: 38px;
}
.products .action {
  line-height: 38px;
}

.container{
  align-content: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 3vw 6vw;
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.security{
  padding: 5vw;
  align-content: center;
}

.button-container {
  text-align: center;
}

#signupForm{
  margin: 0px;
}

#alert-wrong-login{
  display: flex;
  color: crimson;
  margin-left: 4px;
  margin-bottom: 5px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  padding: 3vw 6vw;
}

.header-left,
.header-right {
  display: flex;
  gap: 20px;
}

.admin-header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.scrollable-content {
 max-height: 400px;
 overflow-y: auto;
}

.admin-card {
  padding-top: 15px;
  height: 518px;
}

.admin-order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mypage{
  padding: 30px;
}

.row-button{
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 배치 */
  align-items: center;
}

.left .right{

}